table {
  width: 100%;
  height: 100px;
}

.mat-header-cell {
  color: var(--main-bg-color-2);
}

.mat-table {
  margin-left: 30px;
}

#table-mat .mat-cell{
  min-height: 200px;
}

tr.mat-header-row {
  height: 30px;
}

tr.mat-row{
  height: 20px;
}

.mat-column-processo,
.mat-column-chegada,
.mat-column-execucao,
.mat-column-es1,
.mat-column-tempoEs1,
.mat-column-es2,
.mat-column-tempoEs2 {
  text-align: center;
}
