<div class="content">
  <div class="content-processo">
    <div *ngFor="let nome of nomes">{{ nome }}</div>
  </div>
  <div class="content-table">
    <table>
      <tr>
        <th *ngFor="let item of colunas; let i = index">{{ i }}</th>
      </tr>
      <tr *ngFor="let nome of nomes">
        <td *ngFor="let item of colunas; let i = index" id="{{ nome }}-{{ i }}"></td>
      </tr>
    </table>
  </div>

  <div class="btn-actions">
    <button mat-stroked-button color="primary" matTooltip="Volta na timeline" style="margin-right: 10px"
      (click)="previous()">
      <mat-icon>skip_previous</mat-icon>
    </button>
    <button mat-stroked-button color="primary" matTooltip="Avança na timeline" (click)="next()">
      <mat-icon>skip_next</mat-icon>
    </button>
  </div>
</div>
