:root {
  --cor-primaria: #007bff;
  --cor-secundaria: #6c757d;
  --cor-sucesso: #28a745;
  --cor-alerta: #dc3545;
  --cor-aviso: #ffc107;
  --cor-info: #17a2b8;
  --cor-light: #f8f9fa;
  --cor-dark: #343a40;
  --main-bg-color-1: #243359;
  --main-bg-color-2: #02A7B5;
  --semantic-bg-color-1: #ffb500;
  --semantic-bg-color-2: #FFD607;
  --semantic-bg-color-3: #00b55b;
  --semantic-bg-color-4: #fa3800;
  --gray-tones-bg-color-0: #ffffff;
  --gray-tones-bg-color-0_5: #fcfcfc;
  --gray-tones-bg-color-1: #fafafa;
  --gray-tones-bg-color-1_5: #f7f7f7;
  --gray-tones-bg-color-2: #f5f5f5;
  --gray-tones-bg-color-3: #f0f0f0;
  --gray-tones-bg-color-4: #dedede;
  --gray-tones-bg-color-4_5: #bec2ce;
  --gray-tones-bg-color-5: #c2c2c2;
  --gray-tones-bg-color-6: #979797;
  --gray-tones-bg-color-7: #818181;
  --gray-tones-bg-color-8: #606060;
  --gray-tones-bg-color-9: #3c3c3c;
  --gray-tones-bg-color-10: #1f1f1f;
  --gray-tones-bg-color-11: #000000;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--gray-tones-bg-color-4);
  color: var(--main-bg-color-2);
  font-family: 'Roboto',
    sans-serif;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


.container {
  width: 100%;
  min-height: 720px;
  margin-top: 30px;
}

