.content {
  width: 600px;
  margin: auto;
  background-color: var(--cor-light);
  display: grid;
  grid-template-areas: "titulo""content-box""content-btn";
  grid-template-columns: 1fr;
  grid-template-rows: 100px 300px 100px;
}

.titulo {
  grid-area: titulo;
  text-align: center;
  align-self: center;
}

.content-box {
  grid-area: content-box;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

.content-btn {
  grid-area: content-btn;
  display: flex;
  justify-content: center;
}

.content-combo {
  display: flex;
}

.content-import {
  grid-area: "content-import";
  display: flex;
  width: 400px;
}

.btn-iniciar {
  width: 200px;
  height: 50px;
  font-weight: 500;
  font-size: 15px
}
